body{
    background-color: indigo;
    background-image: url('gaturro.jpg');
    background-position: 22% 75%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

p{
    font-size: 25px;
}

p:hover{
    font-size: 35px;

}

/*Creación de una clase de CSS*/
.config{
    margin: 75px 170px 55px 15px;    
    text-align: center;
    font-style: italic;
    color:brown;    
    border-color: yellow;

}

#miID852{
    margin-top: 99px;
    border-style: dotted;
    border-color: aquamarine;

}

#seccion1{ 
    font-style: italic;
    color:blue;
    border-style: dashed;
    border-color: red;
    border-width: 5px;
}
#seccion2{ 
    font-style: italic;
    color:blue;
    border-style: dashed;
    border-color: tomato;
    border-width: 5px;
}
#seccion3{ 
    font-style: italic;
    color:blue;
    border-style: dashed;
    border-color: fuchsia;
    border-width: 5px;
}
